.ticker {
	opacity: 0;
	transform: opacity 0.3s;
	&__viewport {
		overflow: hidden;
	}

	&__slides {
		list-style: none;
		display: flex;
		padding: 0;
	}

	&__slide {
		img {
			height: 200px;
			width: 350px;
			object-fit: cover;
		}
	}

	&--active {
		opacity: 1;
	}
}
